.suir-calendar.cell {
  border: none !important;
}

.suir-calendar.week-day {
  border: none !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1) !important;
}

.suir-calendar.time-picker-header {
  border-bottom: 1px solid rgba(34, 36, 38, 0.1) !important;
}

.suir-calendar.date:hover,
.suir-calendar.time:hover {
  outline: 1px solid #85b7d9;
  cursor: pointer;
}

.suir-calendar.button:hover {
  cursor: pointer;
}

.suir-calendar.popup {
  padding: 0;
}

.right-column-button-wrapper {
  margin-right: 10px;
  margin-top: 6px;
}

.footer-button {
  cursor: "pointer";
}

.suir-calendar .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.p-edit-content__footer--wrapper {
  display: flex;
}

.p-edit-content__footer--button {
  flex: 1;
  cursor: pointer;
  padding: 11px;
  display: flex;
}

.p-edit-content__footer--button--active {
  color: red !important;
}

.p-edit-content__footer--button:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #8ab4d4;
}

.p-edit-content__footer {
  padding: 0px !important;
}

.p-edit-content__footer--button__icon,
.p-edit-content__footer--button__name {
  flex: 1;
}
